.card{
  width: 240px;
  height: 135px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.card.red{
  background-color: rgb(200, 16, 46);
  color: rgb(255, 255, 255);
}

.card.white{
  background-color: rgb(255, 255, 255);
  color: rgb(200, 16, 46);
}
