.page {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: white;
}

.page.article {
  align-items: flex-start;
}

.page.article ul {
  margin-bottom: 1rem;
}

.page.article li {
  margin-left: 2rem;
}

.page.one-column .box {
  max-width: 320px;
}

.page.one-column form {
  max-width: 100%;
}

.page.one-column .box .text {
  margin: 0;
}

.page.one-column .box .blank {
  height: 10px;
}

.page h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem 0;
}

.page h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}

.page p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.page .caption {
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.8);
}

.page .link {
  text-decoration: underline;
}

.page .link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .page {
    margin: 0 1rem;
    margin-bottom: 5rem;
  }
}
