.page{
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.page .title{
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem 0;
}

.page .section-title{
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}

.page .text{
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page .caption{
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.8);
}
