@import "./OneColumnPage.css";

.page.one-column .box {
  max-width: 320px;
}

.page.one-column form {
  max-width: 100%;
}

.page.one-column .box .text {
  margin: 0;
}

.page.one-column .box .blank {
  height: 10px;
}
