nav {
  background-color: rgb(0, 16, 50);
  margin-bottom: 2rem;
}

nav .container {
  max-width: 1000px;
  min-height: 4rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container button {
  width: 3rem;
  height: 3rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
}

nav .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

nav .container ul li {
  margin: 1rem 1rem;
}

nav .container ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav .container ul li a:hover {
  text-decoration: underline;
}

nav .container .span {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  nav .container button {
    display: none;
  }
  nav .container .span {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  nav .container {
    flex-direction: column;
    align-items: center;
  }

  nav .container ul {
    flex-direction: column;
  }

  nav .container ul.hide {
    display: none;
  }

  nav .container .span.hide {
    display: none;
  }

  nav .container button {
    margin-left: 1rem;
    margin-top: 0.5rem;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  nav .container .span {
    margin-left: 0;
  }
}
