@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  background-color: rgb(1, 33, 105);
}
